.DS_Store
.npm
.config
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
logs/
*.memory-card.json
.wechaty
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
