phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
sass_binary_site=http://npm.taobao.org/mirrors/node-sass
disturl=http://npm.taobao.org/mirrors/node
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver
SQLITE3_BINARY_SITE=http://npm.taobao.org/mirrors/sqlite3
profiler_binary_host_mirror=http://npm.taobao.org/mirrors/node-inspector
registry=http://registry.npm.taobao.org/
PUPPETEER_DOWNLOAD_HOST=https://storage.googleapis.com.cnpmjs.org
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
grpc_node_binary_host_mirror=https://npm.taobao.org/mirrors/